@import "tailwindcss";

:root {
  --primary: #775A19;
}

@theme {
  --font-bodoni: var(--font-bodoni), serif;
}

@theme inline {
  --color-primary: var(--primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {

  html,
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: clip;
    width: 100%;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: black !important;
  }
} 

